#settings-page {
  ion-content::part(scroll) {
    display: flex;
    flex-direction: column;
  }

  .settings-actions {
    margin-top: auto;
    padding: 0 16px 24px;
  }

  .settings-cache-date {
    font-size: 0.9rem;
    color: var(--ion-color-medium);
  }
}
